@import '../../global.scss';
.main_box{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); 
   gap: 16px; 
   width: 100%; 
   grid-template-rows: min-content;
   flex: 1 1 770px;

}
.skeleton_card_2{width: 100%;
   display: flex;
   flex-direction: column;
   padding: 16px;
   background-color: #fff;
   border-radius: 12px;
   gap: 12px;
   max-height: fit-content;}

.skeleton_card{
   display: flex;
   aspect-ratio: 19/20;
   width: 100%;
   flex-direction: column;
   padding: 24px;
   max-height: 400px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 12px;
}
.main_content_box{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   min-width: 0px;
   gap: 24px;
   flex: 1 1 770px;
}
.main_content_title{
  @include roboto_h2_30;
  white-space: nowrap;
}
.title_box{
   display: flex;
   width: 100%;
   align-items: center;

  background-color: #EEEFF8;
}
.title_line{
   width: 100%;
   margin-left: 12px;
   height: 1px;
   background-color: #DADCEB;

}
.highlighted_box{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(370px, 1fr)); 
   gap: 16px; 
   width: 100%; 

   max-width: 791px;
   grid-template-rows: min-content;
   flex: 1 1 770px;
}
.swiper_box{
   display: flex !important;
   max-width: max-content;
   min-width: 0px;

}
.custom_box_right, .custom_box_left{
   padding: 9px;
   display: flex;
   align-items: center;
   justify-content: center;
   aspect-ratio: 1/1;
   max-width: fit-content;
   border-radius: 50%;
   backdrop-filter: blur(50px);
   position: absolute;
   content: "";
cursor: pointer;
   z-index: 100;
}
.custom_box_right{
   top: 30%;
   right: 23px;
}
.custom_box_left{
   top: 30%;
   left: 23px;
   transform: rotate(180deg);
}
.image_tag{
   width: 24px;
   height: 24px;
   aspect-ratio: 1/1;
  transform: translateX(2px);
}
@media (max-width:600px){
   .custom_box_right, .custom_box_left{
      display: none;
   }

}
@media (max-width:500px){
   .main_box{
      grid-template-columns: repeat(1, 1fr);
   }
}