@import '../../global.scss';
.card_box{
   width: 50%;
   display: flex;
   flex-direction: column;
   padding: 16px;
   background-color: #fff;
   border-radius: 12px;
}
.user_name{
   @include roboto_h5_18_mid;
margin-bottom: 2px;
}
.item_box{
   display: flex;
   flex-direction: column;
   gap: 8px;
   padding-bottom: 16px;
   margin-bottom: 16px;
   border-bottom: 1px solid #EDF0F3;
}
.viewed_box{
   width: 100%;
   display: flex;
   flex-direction: column;
   background-color: #fff;
   border-radius:12px;
   padding: 24px;
}
.viewed_title{
@include roboto_p1_16_regular_gray;
margin-bottom: 12px;
padding-bottom: 12px;
border-bottom: 1px solid #EDEEF3;
}

.user_box{
   display: flex;
   align-items: center;
}
.dots_image{
   padding: 4px;
   border-radius: 50%;
   background-color: #F7F7F7;
   cursor: pointer;
   
}
.dots_menu_box{
   position: relative;
}
.dots_menu{
   position: absolute;
   bottom: -140%;
   right: 0;
   content: "";
   background-color: #ffffff;
   border-radius: 16px;
   border: 1px solid #d4d3d3;
   padding: 6px 10px;
   z-index: 10000;
   @include roboto_p1_16_regular_gray;
   color: #141416 !important;
   display: flex;
   flex-direction: column;
   gap: 6px;
}
.user_avatar{
   aspect-ratio: 1/1;
   max-width: 28px;
   max-height: 28px;
   border-radius: 50%;
   margin-right: 8px;
}
.user_text_box{
   display: flex;
   flex-direction: column;
   @include roboto_p3_12_mid;
   margin-bottom: 2px;
}
.user_subtext{
   display: flex;
   align-items: center;
   gap: 4px;
}
.user_active{
   @include roboto_p4;
   color: #868897 ;
}
.user_active_pin{
   width: 4px;
   height: 4px;
   border-radius: 50%;
   background-color: #868897;
}
.user_active_pin_online{
   background-color: #2ac12f !important;
}
.item_body{
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}
.item_body_image{
   aspect-ratio: 1/1;
   max-width: 62px;
   border-radius: 8px;
}
.user_subdata_box{
   display: flex;
   align-items: center;
   gap: 4px;
}

.user_box{
   display: flex;
   align-items: center;

}
.user_image{
   aspect-ratio: 1/1;
   width: 42px;
   border-radius: 50%;
   margin-right: 8px;
}
.user_data_box{
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin-left: 8px;
}
.some_text_box{
   display: flex;
   flex-direction: column;
}
.dots_menu_item:active{
   text-shadow: 1px 1px 1px rgba(83, 83, 83, 0.3);
   user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  cursor: pointer;
}
@media (max-width: 768px){
   .user_image{
      width: 36px;
      height: 36px;
   }
   .user_name{
      font-size: 16px;
   }
}
