.main {
  display: flex;
  width: 100vw;
  position: relative;
  height: calc(100vh - var(--header-height) + 26px);
  position: fixed;
  top: calc(var(--header-height) -27px);
  left: 0;
  background-color: #fff;
}

