.outputs {
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
}

.outputRow {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: relative;
   padding: 0.75rem;
   // background-color: rgba(0, 0, 0, 0.06);
   border-bottom: 1px solid #eeeff8;

   &:last-child {
      border: none !important;
   }
}

.outputLabel {
   font-size: 0.75rem;
   color: #868897;
}

.handle {
   position: absolute;
   z-index: 10;
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   border: 2px solid #fff;
   background-color: #868897;
}