@import '/src/global.scss';
.card{
   display: flex;
   aspect-ratio: 19/20;
   width: 100%;
   flex-direction: column;
   padding: 24px;
   max-height: 400px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 12px;
   // box-shadow: 
   //      inset 0 4px 8px rgba(8, 8, 8, 0),
   //      inset 0 -50px 45px rgba(8, 8, 8, 0.25); 
   
}

.card_title{
   color: #fff;
   @include roboto_h2_24;
   margin-top: 12px;
   margin-bottom: 4px;
   text-shadow: 
   1px 1px 2px rgba(0, 0, 0, 0.3);
    display: -webkit-box; /* Для поддержки старых браузеров */
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* Ограничиваем количество строк */
   overflow: hidden; /* Скрываем переполнение */
   text-overflow: ellipsis; /* Добавляем многоточие */
}
.card_subtitle{
   color: #fff !important;
   @include roboto_p1_16_regular;
}
.high_title{
   margin-bottom: auto;
   padding: 5px 8px;
   border-radius: 99px;
   background: linear-gradient(135.00deg, rgb(255, 122, 0) 0%,rgb(189, 0, 255) 100%);
   max-width: fit-content;
   @include roboto_p2_14_regular;
   color: #fff;
}
.box_for_user{
   max-width: fit-content;
}
@media (max-width:500px){
   .card_title{
      font-size: 19px !important;
       -webkit-line-clamp: 2;
   }
   .card_subtitle{
      font-size: 13px;
   }
}
@media (max-width: 430px){
 .box_for_user{
   display: none !important;;
 }
}